@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.home {
    font-family: 'Roboto', sans-serif;
}

.first-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    padding: 2rem 2rem;
    height: 100vh;
    align-items: center;
}

.first-content .info {

    width: 50%;
    text-align: left;
    padding: 1rem 0;
}

.first-content .info h1 {

    margin-bottom: 2rem;
    font-size: 3rem;
    text-transform: capitalize;
    width: 60%;
}

.first-content .info p {

    line-height: 2;
    font-size: 1.25rem;
    color: #617d98;
    font-weight: 300;
    margin-bottom: 2rem;
}

.first-content .info a {
    text-decoration: none;
    padding: 0.65rem 1.3rem;
    background-color: #ac7b5f;
    color: #f1f1f1;
    text-transform: uppercase;
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s linear;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.first-content .info a:hover {

    color: #453227;
    background-color: #c5a491;
}
.first-content .pictures {

    width: 50%;
    position: relative;
    text-align: right;
    height: 550px;
    
}

.first-content .pictures .empty-div {

    height: 440px;
    width: 44px;
    background-color: #decbc0;
    position: absolute;
    bottom: 0;
    left: 13%;
    z-index: 1;
    border-radius: 0.25rem;
}
.first-content .pictures img {

    height: 100% ;
    width: 80%;

}

.first-content .pictures .bigger-pic {
    position: relative;
   z-index: 2;
}
.first-content .smaller-pic {

    position: absolute;
    width: 250px !important;
    height: 165px !important;
    bottom: 0;
    left: 0;
    z-index: 2;
}

@media only screen and (max-width: 980px) {
   
    .first-content {
        padding: 2rem 2rem ;
    }

    .first-content .info {

        padding: 0 0;
        width: 100%;
    }

    .first-content .info h1 {

        font-size: 2.5rem;
        width: 80% ;
    }

    .pictures {

        display: none;
    }
}

@media only screen and (max-width: 450px) {
   
    .first-content {
        padding: 4rem 2rem ;
        height: 70vh;
    }

    .first-content .info {

        padding: 0 0;
        width: 100%;
    }

    .first-content .info h1 {

        font-size: 2rem;
        width: 80%;
    }

    .first-content .info p {

        font-size: 1rem;
       
    }
    .first-content .info button {

        padding: 0.5rem 1rem;
        font-size: 0.7rem;
    }

    .pictures {

        display: none;
    }
}

.back-color {
    max-width: 100%;
    background-color: #f1f5f8;
    padding: 0;
}
.second-content {
    max-width: 1200px;
    margin: 0 auto;
    text-transform: capitalize;
    padding: 4rem 2rem;
   
}
.second-content .title {

    position: relative;
    height: 60px;
    margin-bottom: 3rem;
}
.second-content h1 {

    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0.75rem ;
   
}

.second-content .underline{
    position: absolute;
    left: 0; 
    right: 0; 
    bottom: 0;
    margin-left: auto; 
    margin-right: auto;
    height: 0.25rem;
    width: 6rem;
    background-color: #ab7a5f;
}

.second-content .articles {
    display: flex;
    margin: 2rem auto;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.second-content .articles .onebyone {

display: none;
}

.second-content a {

    padding: 0.375rem .75rem;
    background-color: #ac7b5f;
    color: #f1f1f1;
    text-transform: uppercase;
    border-radius: 0.3rem;
    font-size: .875rem;
    cursor: pointer;
    transition: all 0.3s linear;
    font-weight: 300;
    letter-spacing: 0.1rem;
    
}

.second-content a:hover {

    color: #453227;
    background-color: #c5a491;
}
@media only screen and (max-width: 450px) {
    
    .second-content h1 {

        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .second-content .title {
        
        height: 45px;
    }
}

.third-content {

    background-color: #eaded7;
    padding: 2rem 0;
    
}
.third-content .contents {

    transform: translateY(6rem);
    display: block;
}
.third-content  .info {

    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 3rem;
    
}

.third-content .info div {

    width: 50%;
}

.third-content .info h2 {

    text-transform: capitalize;
    font-size: 2rem;
    line-height: 1;
    text-align: left;
    color: #453227;
    width: 50%;
}

.third-content .info p {

    color: #795744;
    font-size: 1rem;
}

.third-content .cards {

    flex-wrap: wrap;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    
}

.third-content .cards .card{

    border-radius: 0.25rem;
    padding: 2.5rem 2rem;
    background-color: #c5a491;
    max-width: 300px;
    height: 220px;
    color: #453227;
}

.third-content .cards .card .icon-div {

    background-color: #eaded7;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
}

.third-content .cards .card .icon-div a {

    color: #453227;
}

.third-content .cards .card h3{

    font-size: 1.5rem;
}

.third-content .cards .card p{

    font-weight: 300;
    line-height: 1.5;
}

@media only screen and (max-width: 980px) {
   
    .third-content .info {
        display: block;
        
    }

    .third-content .cards {

        padding: 1rem 2rem;
    }
    .third-content .info div {

        text-align: center;
        width: 90%;
        margin: 0 auto;
    }
    .third-content .info div h2 {
        
        text-align: center;
        margin: 0 auto;
    }
    .third-content .info div h2 {

        width: 90%;
    }

    .third-content .cards .card {
        height: 100%;
        padding: 1.5rem 1rem;
        margin: 2rem auto;
    }
}

.fourth-content {
    
    padding: 7rem 0 ;
    text-align: left;
    margin: 0 auto;
    max-width: 1200px;
    letter-spacing: 0.1rem;
    
}

.fourth-content h2 {

    font-size: 2rem;
}

.fourth-content div {

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fourth-content p {

    color: #617d98;
    font-size: 1rem;
    line-height: 1.5;
}

.fourth-content div div{
    
    width: 40%;
}

.fourth-content .input {

    
    width: 40%;
    height: 35px;
}

.fourth-content input {

    height: 30px;
    width: 70%;
}

.fourth-content a {

    
    border: 1px solid black;
    padding: 0.5rem 2rem;
    background-color: #ab7a5f;
    transition: 0.3s linear ;
    cursor: pointer;
}

.fourth-content a:hover {

    color: white;
}

@media only screen and (max-width: 980px) {
   
    .fourth-content {

        padding: 3rem 0.5rem
    }
    .fourth-content h2 {

        padding: 0 2rem;
        font-size: 1.5rem;
    }
    .fourth-content P {
        margin: 1rem auto;
        width: 100%;
        font-size: 0.85rem;
        line-height: 1.5rem;
    }
    .fourth-content .content {
       
        display: block;
        width: 100%;
        
    }
    .fourth-content .input {
        
        width: 100%;
        
        
    }
    .fourth-content .content div {

        width: 80%;
        margin: 0 auto;
    }
    .fourth-content a {

        border: 1px solid black;
        padding: 0.5rem 1rem;
        background-color: #ab7a5f;
        transition: 0.3s linear ;
        cursor: pointer;
    }
}